body{ background: #F6F6F6;}
.logo_wrap{width: 100%; background: #FFFFFF}
.news_wrap{
    width: 1140px;
    margin: 0 auto;
    background: #FFFFFF;
}
.list_main
{
    min-height:350px;
    height:auto !important;
    height:350px;
    overflow:visible;
    background-color:#FFF;
    margin-top:10px;
}
.news_type
{
    width:250px;
    min-height:350px;
    height:auto !important;
    height:350px;
    overflow:visible;
    /*border:1px solid #E8E8E8;*/
    float:left;
}

.news_type h3{
    height:35px;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 10px;
}

.list_box
{
    width:870px;
    min-height:350px;
    _height:350px;
    /*border:1px solid #E8E8E8;*/
    float:right;
    /*background-color:#FFF;*/
}


.news_type_content li
{
    list-style-type:none;
    height:40px;
    line-height:40px;
    border-bottom:1px dotted #ccc;
    padding-left: 20px;
    background:url(../images/li_bg.gif) no-repeat 20px center;
}

.news_type_content li a
{
    color:#666;
    text-decoration:none;

    padding-left:15px;
    display:block;
}

.news_type_content li:hover
{
    color:#009CDF;
    background:url(../images/li_bg2.gif) no-repeat left center;
    background-color:#F2F2F2;
}
.news_type_content li:hover{webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.list_box h2
{
    font-size:14px;
    font-family:"寰蒋闆呴粦";
    color:#666;
    height:35px;
    line-height:35px;
    background:url(../images/type_bg.png) repeat-x;
    padding-left:20px;
}
.page
{
    height:40px;
    margin-top:10px;
    text-align:center;
}

.page a
{
    display:inline-block;
    border:1px solid #E8E8E8;
    text-decoration:none;
    margin:5px;
    padding:5px 10px;
}
.page a:link,.page a:visited
{
    color:#000;
}
.page a:hover,.page a:active
{
    color:#FFF;
    background-color:#cc1b1b;
}
.page li{
    float: left;
    list-style: none;
}

.list_box h1
{
    font-family:"寰蒋闆呴粦";
    font-size:20px;
    text-align:center;
    margin:10px 0;
}
.list_box h2{
    font-size: 18px;
    height: 45px;
}
.list_box_newsInfo
{
    color:#666;
    text-align:center;
    border-bottom:1px dotted #666;
}
.list_box_newsContent
{
    font-size:15px;
    padding:20px;
    line-height:30px;
    color: #333333;
}
.newsCon li{
    list-style: none;
    line-height: 40px;
    font-size: 15px;
    border-bottom:1px dotted #666;
    padding: 0 10px;
}
.newsCon a{
    text-decoration: none;
    color: #666666;
}
.newsCon a:hover{
    color: #189912;
}
.newsCon span{
    float: right;
}